/* PrivacyPolicy.css */
.privacy-policy-container {

  max-width: 800px; /* Or your preferred 
  max width */
  margin: auto;
  padding: 20px;
  padding-top: 70px; /* Height of your navbar */

  font-family: 'Arial', sans-serif; /* Use your website's font family */
  line-height: 1.6;
}



.privacy-policy-container p, ul, li {
  color: #333; /* A readable color for text */
}

.privacy-policy-container a {
  color: #ff8c00; /* Orange from your website's palette */
  text-decoration: none;
}

.privacy-policy-container a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .privacy-policy-container {
    padding: 10px;
  }
}

/* Add additional styles for buttons, list items, and other elements as needed */
